<?xml version="1.0" ?>
<config
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd"
>
    <router id="standard">
                    <route frontName="flmngr" id="flmngr">
            <module name="EdSDK_Wysiwyg" />
        </route>
        <route frontName="extras" id="extras">
            <module name="EdSDK_Wysiwyg" />
        </route>
    </router>
</config>
