<?xml version="1.0" ?>
<config
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd"
>
    <router id="standard">
        <route frontName="n1edUpload" id="n1edUpload">
            <module name="N1ED_N1ED" />
        </route>
    </router>
</config>
